<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>JuniQ</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>
  <body>
    <div id="parameter-controls" style="float: left; width: 400px; height: 100vh; overflow-y: scroll">
      パラメータ
    </div>
    <iframe id="viewer" src="viewer.html" scrolling="no" frameborder="0"></iframe>
    <video id="video" width="640" height="480" muted autoplay></video>
    <canvas id="video-canvas" width="320" height="240"></canvas>
    <canvas id="parts-canvas" width="320" height="240"></canvas>
    <script src="../node_modules/socket.io-client/dist/socket.io.slim.js"></script>
    <script>
      var exports = {};
    </script>
    <script src="js/index.js"></script>
  </body>
</html>
