<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>JuniQ</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>
  <body>
  <script src="../node_modules/pixi.js/dist/pixi.min.js"></script>
  <script src="../node_modules/socket.io-client/dist/socket.io.slim.js"></script>
  <script src="https://s3-ap-northeast-1.amazonaws.com/cubism3.live2d.com/sdk/js_eap/live2dcubismcore.min.js"></script>
  <script src="js/live2dcubismframework.js"></script>
  <script src="js/live2dcubismpixi.js"></script>
  <script src="js/viewer.js"></script>
  </body>
</html>
